services:
  cattle-identification:
    build: .
    container_name: cattle_ai_env
    volumes:
      - .:/tf/notebooks
    ports:
      - "8888:8888"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    # Inicia o Jupyter automaticamente sem pedir senha/token no localhost
    command: >
      jupyter notebook 
      --ip=0.0.0.0 
      --port=8888 
      --no-browser 
      --allow-root 
      --NotebookApp.token='' 
      --NotebookApp.password=''