version: '3.8'
services:
  tf-gpu:
    build: .
    volumes:
      - .:/tf/notebooks
    ports:
      - "8888:8888"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]