# Essenciais para notebooks e dados
pandas==2.2.1
numpy<2.0.0
matplotlib
seaborn
scikit-learn
scipy
ipykernel

# Machine Learning
xgboost

# Visão Computacional e IA
opencv-python-headless
ultralytics==8.2.0
tensorflow[and-cuda]==2.16.1
keras>=3.0

# Utilitários
pathlib
tqdm