# Manipulação e Análise de Dados
pandas
numpy
matplotlib
seaborn

# Processamento de Imagem
opencv-python
pillow

# Busca de hiperparametros
optuna

# Machine Learning
scikit-learn
xgboost

# Deep Learning (YOLOv8)
ultralytics
torch
torchvision
tqdm
tensorflow

# Ambiente de Desenvolvimento
jupyter